@media (max-width: 768px) {
	body{font-size: 10px;}
	h5{
		font-size: .8em;
		}
	#homeBtn::before{
		content: 'Allen';
	  } 
}
@media (max-width: 992px) {
  	body{font-size: 14px;}
}

#homeBtn:link {
  	color: black;
}

#homeBtn::before{
  	content: 'Allen Abraham';
}

@media screen and (max-width: 200px) {
    .button:before {
        content: 'X';
    }
}

.quote{
 	 font-size: 3.8em;
 	 line-height: 100,
